html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: cornflowerblue;
  text-align: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-top: 75px;
  font-family: 'Cedarville Cursive', cursive;
}

h2 {
  font-family: 'Merriweather', serif;
}

h3 {
  font-family: 'Merriweather', serif;
}

.top {
  position: static;
}

span {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  right: -200px;
}

.bottom-cloud {
  position: absolute;
}